<h1>Issue詳細</h1>

<div class="container">
  <%= render partial: 'repositories/form'%>
  <div class="row">
    <div class="col-md-12 col-sm-6">
      <div class-"repository_name">
        <h3><%= @repository.name %></h3>
        <%= link_to '更新',repository_path(@repository.id), method: :put, class:"btn btn-info" %>
        <%= link_to '削除',repository_path(@repository.id), method: :delete, class:"btn btn-danger", data: {confirm:'本当に削除していいですか？'}  %>
      </div>
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>title</th>
            <th>body</th>
            <th>html_url</th>
            <th>github_created_at</th>
          </tr>
        </thead>
        <tbody>
          <% @repository.issues.order(github_created_at: :desc).limit(5).each do |issue| %>
            <tr>
              <td><%= issue.title %></td>
              <td><%= issue.body %></td>
              <td><%= issue.html_url %></td>
              <td><%= issue.github_created_at %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
