<div class="container">
  <h1><%= @repository.name %></h1>
  <%= render partial: 'repositories/form'%>
  <div class="row">
    <div class="col-md-12 col-sm-6">
      <div class-"repository_name">
        <h3>Issue　詳細</h3>
        <%= link_to '更新',repository_path(@repository.id), method: :put, class: "btn btn-info btn-space" %>
        <%= link_to '削除',repository_path(@repository.id), method: :delete, class: "btn btn-danger btn-space", data: { confirm: '本当に削除していいですか？' }  %>
      </div>
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>title</th>
            <th>body</th>
            <th>html_url</th>
            <th>github_created_at</th>
          </tr>
        </thead>
        <tbody>
          <% @repository.issues.order(github_created_at: :desc).limit(5).each do |issue| %>
            <tr>
              <td><%= issue.title %></td>
              <td><%= issue.body %></td>
              <td><%= issue.html_url %></td>
              <td><%= issue.github_created_at %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
  <%= link_to 'トップページへ', repositories_path %>
</div>
